/*Задній фон*/
.BackgroundPic{
    background-image: url("../img/bgNew.png");
    background-size: cover;

    position: absolute;
    width: 100%;
    height: 798px;
    z-index: -1;
}

body{
    background-color: #5881b9;
    position: relative;
}

/*спільні правила*/
a { text-decoration: none; }

button, input[type="submit"]{
    font-family: "Akrobat ExtraBold", sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;

    box-sizing: border-box;
    border: none;
    padding: 8px 8px 12px 8px;

    background-color: #112849;
    box-shadow: -3px 5px 7px #112849;

}

.sectionName, .advantageName{
    font-family: "Akrobat ExtraBold", sans-serif;
    font-size: 30px;
    color: white;

    text-shadow: -3px 5px 7px #112849;
}

dsd{
    font-family: "Akrobat Regular", sans-serif;
    font-size: 20px;
    color: white;

    background-color: #275aa2;
}

h1, h2, h3{
    color: white;
    text-shadow: -3px 5px 7px #112849;
}
/*Стилізація меню*/

.hamburgerToggle{
    display: none;
}
.menuBar{
    display: flex;
    width: 100%;
    height: 48px;

    margin-top: 17px;
    text-align: center;

    background-color: #112849;

}

.logo{
    display: flex;
}

.logo img{
    width: 80px;
    height: 80px;

    position: absolute;
    top: 4px;

    padding-left: 20px;

}
.logoText{
    font-family: "Akrobat ExtraBold", sans-serif;
    font-size: 35px;
    color: white;

    padding-left: 110px;
}

nav{
    width: 100%;

    padding-top: 12px;
    padding-bottom: 12px;
}

.menuBar .mainMenu{
    display: inline-flex;
    color: white;
}

.userManagementMenu{
    float: right;

    padding-right: 37px;
}

.mainMenu{
    padding-left: 163px;
}

.menuBar ul li{
    display: inline-flex;
    position: relative;

    color: white;
}

.menuBar ul li a{
    font-family: "Akrobat Regular", sans-serif;
    font-size: 20px;

}

.menuBar ul li a:visited{
    font-family: "Akrobat Regular", sans-serif;
    color: white;
    font-size: 25px;
}

.current{
    text-decoration: underline;
}

.menuBar .mainMenu li,.menuBar .userManagementMenu li{
    padding-left: 28px;
}


.subMenu1, .subMenu2{
    width: 116px;

    display: none;

    position: absolute;
    left: 0;

    margin-top: 25px;
    padding: 20px 0;

    text-align: center;
    background-color: #112849;

}

.menuBar ul li:hover .subMenu1,
.menuBar ul li:hover .subMenu2
{
    display: block;
}

.menuBar ul li:hover .subMenu1 ul li,
.menuBar ul li:hover .subMenu2 ul li
{
    display: block;
    text-align: center;
    padding: initial;
}

/*Стилізація першого екрану*/
h1{
    font-family: 'Akrobat Black', sans-serif;
    font-size: 50px;
}

h1:after{
    width: 78%;
    height: 8px;

    display: block;
    content: '';

    margin-top: 5px;

    background: #112849;
    box-shadow: -3px 5px 7px #112849;
}

h2{
    font-family: 'Akrobat Black', sans-serif;
    font-size: 45px;
}

.mainSlogan h3{
    font-family: 'Akrobat SemiBold', sans-serif;
    font-size: 32px;
}

.mainSlogan h3 span{
    font-size: 42px;
    color: #112849;
    text-shadow: initial;
}

.mainSlogan button{
    margin-top: 30px;
}

.mainSlogan a{
    padding-left: 40px;

    color: white;
    font-family: "Akrobat SemiBold", sans-serif;
    font-size: 30px;
    text-shadow: -3px 5px 7px #112849;
}

.mainSlogan a::after {
    width: 42%;
    height: 3px;

    content: '';
    display: block;

    margin-left: 212px;
    margin-top: -10px;

    background: white;
    box-shadow: -3px 5px 7px #112849;
}

/*Стилізація другого екрану*/
.textContainer{
    font-family: "Akrobat Regular", sans-serif;
    font-size: 20px;
    color: white;

    box-sizing: border-box;
    padding: 35px 25px;

    text-align: justify;
    text-justify: inter-word;

    background-color: #275aa2;
    box-shadow: -3px 5px 7px #112849;
}

.corpusImage img{
    box-shadow: -3px 5px 7px #112849;
}

/*Стилізація третього екрану*/
.advantageName{
    font-size: 25px !important;
}

.advantageText{
    padding-right: 150px;

    font-family: "Akrobat Regular", sans-serif;
    font-size: 20px;
    color: white;

    background-color: #275aa2;
    box-shadow: -3px 5px 7px #112849;
}

/*Стилізація інформаційних карток*/
.card{
    background-color: #275aa2;
    box-shadow: -3px 5px 7px #112849;
}

/*Види спорту*/
.col2.card img {
    width: 150px;
    height: 150px;
}

.col2.card p{
    font-family: "Akrobat Regular", sans-serif;
    color: white;
    font-size: 35px;
}

.slogan span{
    font-family: "Akrobat Regular", sans-serif;
    font-size: 25px;
    text-shadow: -3px 5px 7px #112849;
    color: white;
}
.slogan .sectionName{
    font-family: "Akrobat ExtraBold", sans-serif;
    font-size: 30px;
    color: white;

    text-shadow: -3px 5px 7px #112849;
    background: initial;
}

/*Типи абонементів*/
.col4.card p:not(.sectionName){
    font-family: "Akrobat Regular", sans-serif;
    font-size: 20px;
    color: white;

    background-color: #275aa2;
    text-align: justify;
    text-justify: inter-character;
}

.col4.card .sectionName{
     font-family: "Akrobat SemiBold", sans-serif;
     font-size: 40px;

     padding-top: 15px;
}
.middleBlock .col4.card{
    text-shadow: none;
    font-family: "Akrobat Regular", sans-serif;
    font-size: 20px;
    color: white;

    background-color: #275aa2;
}

.col4.card button{
    font-family: "Akrobat Regular", sans-serif;

    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
}

/*Порівняльна таблиця*/
td, th{
    color: white;

    background-color: #275aa2;
    box-shadow: -3px 5px 7px #112849;
}

td{
    font-family: "Akrobat Regular", sans-serif;
    font-size: 20px;

    padding: 7px 0;
}

th{
    font-family: "Akrobat ExtraBold", sans-serif;
    font-size: 30px;

    padding: 20px 40px;

    text-shadow: -3px 5px 7px #112849;
}

/*Реєстраційна форма*/
.registrationForm {
    background-color: #275aa2;
    box-shadow: -3px 5px 7px #112849;
}

label{
    font-family: "Akrobat Regular", sans-serif;
    color: white;
    font-size: 20px;
    text-shadow: -3px 5px 7px #112849;
}

input, input:focus{
    margin-top: 10px;
    padding-bottom: 5px;
    border: none;

    font-family: "Akrobat Regular", sans-serif;
    font-size: 20px;
    color: white;

    outline: 0;
    text-shadow: -3px 5px 7px #112849;
    background-color: #275aa2;

}

input[type="submit"]{
    width: fit-content;

    display: block;
    margin: 0 auto;

    font-size: 23px;
}

form span::after{
    width: 100%;
    height: 3px;

    content: "";
    display: block;

    margin-bottom: 20px;

    background-color: white;
    box-shadow: -3px 5px 7px #112849;
}

.middleBlock{
    font-family: "Akrobat SemiBold", sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: -3px 5px 7px #112849;
}

/*Стилі валідації форми*/
input:not([value]):valid{
    background: url("../img/validField.png") no-repeat right;
    background-size: 30px;
    padding-bottom: 5px;
}

input:focus:invalid{
    background: url("../img/invalidField.png") no-repeat right;
    background-size: 30px;
    padding-bottom: 5px;
}

/*Підвал*/
.gradient{
    width: 100%;
    height: 170px;

    position: absolute;
    bottom: 0;

    background: linear-gradient(0deg, #275aa2, 60%, transparent);
}

footer p{
    font-family: "Akrobat Regular", sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;

    background-color: transparent;
    text-shadow: -3px 5px 7px #112849;
}

